:root {
    /* dark shades of primary color*/
    --clr-primary-1: hsl(205, 86%, 17%);
    --clr-primary-2: hsl(205, 77%, 27%);
    --clr-primary-3: hsl(205, 72%, 37%);
    --clr-primary-4: hsl(205, 63%, 48%);
    /* primary/main color */
    --clr-primary-5: hsl(205, 78%, 60%);
    /* lighter shades of primary color */
    --clr-primary-6: hsl(205, 89%, 70%);
    --clr-primary-7: hsl(205, 90%, 76%);
    --clr-primary-8: hsl(205, 86%, 81%);
    --clr-primary-9: hsl(205, 90%, 88%);
    --clr-primary-10: hsl(205, 100%, 96%);
    /* darkest grey - used for headings */
    --clr-grey-1: hsl(209, 61%, 16%);
    --clr-grey-2: hsl(211, 39%, 23%);
    --clr-grey-3: hsl(209, 34%, 30%);
    --clr-grey-4: hsl(209, 28%, 39%);
    /* grey used for paragraphs */
    --clr-grey-5: hsl(210, 22%, 49%);
    --clr-grey-6: hsl(209, 23%, 60%);
    --clr-grey-7: hsl(211, 27%, 70%);
    --clr-grey-8: hsl(210, 31%, 80%);
    --clr-grey-9: hsl(212, 33%, 89%);
    --clr-grey-10: hsl(210, 36%, 96%);
    --clr-white: #fff;
    --clr-red-dark: hsl(360, 67%, 44%);
    --clr-red-light: hsl(360, 71%, 66%);
    --clr-green-dark: hsl(125, 67%, 44%);
    --clr-green-light: hsl(125, 71%, 66%);
    --clr-black: #222;
    --ff-primary: "Roboto", sans-serif;
    --ff-secondary: "Open Sans", sans-serif;
    --transition: all 0.3s linear;
    --spacing: 0.1rem;
    --radius: 0.25rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --max-width: 1170px;
    --fixed-width: 620px;
}

.machine {
    background-color: rgb(133, 243, 247);
    width: 80%;
    position: absolute;
    padding-left: 15px;
    height: 600px;
}

.output-div {
    background-color: bisque;
    width: 20%;
    height: 600px;
    position: absolute;
    padding-right: auto;
    padding-left: 20px;
    right: 0;
}

.output {
    width: 90%;
}

.controls {
    height: 50px;
}

.bton {
    text-transform: uppercase;
    background: transparent;
    color: var(--clr-black);
    display: inline-block;
    font-weight: 700;
    border: 2px solid var(--clr-black);
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: var(--radius);
    font-size: 0.7rem;
    padding: 0.75rem 1rem;
    background-color: rgb(82, 82, 82);
    color: white;
}

.bton:hover {
    color: black;
    background-color: rgb(88, 88, 88);
}

h2 {
    font-family: var(--ff-primary);
    font-weight: 700;
}

td {
    font-family: var(--ff-primary);
    width: 75px;
    color: white;
    background-color: black;
    text-align: center;
}

.mem {
    font-family: var(--ff-primary);
    width: 98px;
    color: white;
    background-color: black;
    text-align: center;
    height: 25px;
}

.output {
    background-color: black;
    border-color: white;
    color: white;
    font-size: 1.2rem;
}

.current-code {
    font-family: var(--ff-primary);
    width: 75px;
    color: white(0, 0, 0);
    background-color: green;
    text-align: center;
}

.back-code {
    font-family: var(--ff-primary);
    width: 75px;
    color: black(0, 0, 0);
    background-color: red;
    text-align: center;
}

#next-instruction {
    color: rgb(6, 129, 245);
    text-align: center;
}

.update {
    font-family: var(--ff-primary);
    width: 75px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    text-align: center;
}

#output-heading {
    margin-left: 10%;
}

.keypressed {
    color: black;
    background-color: rgb(88, 88, 88);
}